################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LRParquetsDupChecker/bin
/.vs
/LRParquetsDupChecker/obj
/ParquetViewer.Engine/bin
/ParquetViewer.Engine/obj
/src/.vs/
/src/ParquetDuplicateFinder/bin
/src/ParquetDuplicateFinder/obj
/src/ParquetViewer.Engine/bin
/src/ParquetViewer.Engine/obj

